language: node_js
node_js:
  - '12'
  - '11'
  - '10'
  - '9'
  - '8'
cache:
  directories:
  - node_modules
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - if [[ `npm -v` > 6* ]]; then npm audit; fi
  - npm run lint
  - npm run test
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
